@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFPRODISPLAYBOLD.woff2") format("woff2"),
    url("../fonts/SFPRODISPLAYBOLD.woff") format("woff");
}

@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"),
    url("../fonts/SFProText-Regular.woff") format("woff");
}

